@page
@model PrivacyModel
@{
    ViewData["Title"] = "Song1";
    var publicIp = Environment.GetEnvironmentVariable("PUBLIC_IP");
}
<h1>@ViewData["Title"]</h1>

<div id="songContainer"></div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    var publicIp = '@publicIp';
    $.ajax({
        url: 'https://' + publicIp + ':5001/api/song/song1',
        type: 'GET',
        crossDomain: true,
        dataType: 'json',
        headers: {
            'Access-Control-Allow-Origin': '*'
        },
        success: function (data) {
            var html = '';
            console.log(data);
            html += '<h2> Title: ' + data.title + '</h2>';
            html += '<h2> Lyrics </h2>';
            html += '<div>' + data.lyrics + '</div>';
            $('#songContainer').html(html);
        },
        error: function (error) {
            console.log('Error: ', error);
        }
    });
</script>
